body {
  font-family: "Cormorant Garamond", serif;
  background-color: #b71b9e;
  margin-bottom: 150px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0%;
  position: relative;
}
.sprayBottle1 {
  margin: 0px;
  padding: 5px;
  height: 35px;
}

.checkOut {
  border: medium solid black;
  display: none;
}

.sprayBottle {
  margin: 0px;
  padding: 5px;
  height: 35px;
}

.bag-shopping {
  position: fixed;
  height: 50px;
  right: 5px;
  top: 5px;
}

#items-container {
  margin: 20px;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 80px 20px;
}

#cart-items {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 80px 20px;
}

.item-name {
  font-weight: 1000;
}

.item-price {
  font-weight: 1000;
  padding: 5px;
}

.DoNotDisplay {
  display: none;
  visibility: hidden;
}

.popUp {
  overflow-y: scroll;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: white;
  width: 600px;
  height: 75%;
}

.keepShopping,
.payCashButton,
.payCCButton {
  width: 150px;
}

.bag-shopping:hover {
  background-color: #b71b9e;
  cursor: pointer;
}

header {
  font-family: "Dancing Script", cursive;
  font-family: "Open Sans", sans-serif;
  background-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
}
.img {
  align-content: end;
}

h1 {
  margin: 0;
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-weight: 1800;
  font-size: 5000;
}

h2 {
  margin: 0;
  background-color: black;
  font-family: "Cormorant Garamond";
  font-style: italic;
  color: white;
  width: 100%;
  text-align: center;
}
h3 {
  margin: 0;
  background-color: lightgrey;
  font-family: "Cormorant Garamond";
  width: 100%;
  text-align: center;
}

footer {
  position: fixed;
  margin-top: 0;
  bottom: 0;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}
footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
}

li {
  box-sizing: border-box;
  /* text-decoration: none; */

  margin-bottom: 3px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 5px 5px;
}
